.navBar {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  vertical-align: middle;
}

.item {
  height: 4em;
  width:inherit;
  padding: 10px;
  border: 1px solid black;
  /* flex-grow: 1; */
}

.dropdown {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select {
  border-radius: 3px;
  width: 73px;
}
